/* estilos de gallery */

.gallery {
    margin: .5em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: row;
    gap: .5em;
    justify-content: center;

}

.gallery__link {
    display: flex;
    object-fit: cover;
}

.gallery__img:hover{
    block-size: 102%;
    
}
.gallery__img {
    width: 100%;
    height: auto;

}

/* Modificadores para que ocupan más de un column/row en el grid (se podría utilizar `.gallery__link:nth-child()`para selleccionar el hijo al que hay que aplicarlo. */

.gallery__link--doblealtura {
    grid-row-start: span 2;
}


.gallery__link--doble {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.gallery__link--dobleancho {
    grid-column-start: span 2;
}

/* MQ */

@media screen and (max-width: 680px){

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    /* para mover la última imagen al espacio que queda libre al aplicar el MQ*/
    .gallery__link:nth-child(21) {
        grid-area: 2 / 2 / 3 / 3;
    }
}
